<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

    <script src="../js/app.js"></script>
    <script src="../js/feed.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../resources/css/styles.css" />
    <title>Mr. Clean Code</title>
</head>

<body ng-app="MrCleanCodeApp">
    <header>
        <div class="row">
            <div class="column left">
                <h1> Mr. Clean Code</h1>
            </div>
            <div class="column right">
                <ul class="profile">
                    <button>Me
                        <i class="fas fa-user"></i>
                    </button>
                    <button>5
                        <i class="fas fa-star"></i>
                    </button>
                    <button>2
                        <i class="fas fa-poo"></i>
                    </button>
                </ul>
            </div>
        </div>
        <nav>
            <a href="#/!">Home </a>
            <a href="#!feed">Help others</a>
            <a href="#!my-dirty-code">Help me</a>
            <a href="#!my-contributions">My Contributions</a>
        </nav>
    </header>
    <ng-view></ng-view>
</body>
<html>