<main>
    <div class="code-editor">
        <section>
            <h2>Original code</h2>
            <pre>
                <code>
                    public class HelloWorld{
                        public static void main(String[] args){
                            int option = 3; 
                            switch (option) {
                                case 22 : 
                                    System.out.println("Hello Julie!"); 
                                case 8: 
                                    System.out.println("Hello Robert!"); 
                                case 3: 
                                    System.out.println("Hello World!"); 
                            }
                        }
                    }
                </code>
            </pre>
        </section>

        <section>
            <h2>My solution</h2>
            <pre>
                <code>
                    public class HelloWorld(){
                        public static void main(String[] args){
                            System.out.println("Hello World!"); 
                        }
                    }
                </code>
            </pre>
        </section>

        <section>
            <ul>
                <p>Test 1</p>
                <p>Test 2</p>
            </ul>
        </section>
    </div>

</main>